.article {
  display: flex;
}

.article_content {
  text-align: center;
  width: 100vw;
  align-items: center;
  margin-bottom: 2em;
}

.article_link {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  color: $link-color;
}

.article_link:hover {
  color: $link-hover-color;
}
.article_picture {
  width: 90%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.article_text {
  padding: 1em;
  text-align: justify;
  font-family: $main-font;
  font-weight: 500;
  color: $link-hover-color;
  font-size: 1.3em;
  text-overflow: hidden;
  min-height: 27%;
  margin-bottom: 0;
}
