.begin_title {
  text-align: center;
  font-family: $main-font;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 0.5em;
  width: 100%;
}

/*Mobile layout*/
@media (max-width: 430px) {
  .begin_title {
  }
}
