.contacts_title {
  margin-bottom: 1em;
  font-size: 3em;
  text-align: center;
}

.contacts_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 62vh;
}

a[href^="mailto:"] {
  display: block;
  font-size: 2em;
  line-height: 1.5em;
  color: $link-color;
  text-decoration: none;
  padding: 0.75em;
}

a[href^="mailto:"]:hover {
  color: $link-hover-color;
}

a[href^="tel:"] {
  display: block;
  font-size: 2em;
  line-height: 1.5em;
  text-decoration: none;
  color: $link-color;
  padding: 0.75em;
}
a[href^="tel:"]:hover {
  color: $link-hover-color;
}

a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}

.vk_link {
  display: block;
  font-size: 2em;
  line-height: 1.5em;
  text-decoration: none;
  color: $link-color;
  padding: 0.75em;
}

.vk_link:hover {
  color: $link-hover-color;
}

.contacts {
  width: fit-content;
  border: 0.2em solid $link-hover-color;
  border-radius: 15%;
  align-self: center;
  margin-bottom: 2em;
}

/*Tablet layout*/
@media screen and (min-width: 430px) and (max-width: 768px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px;
    text-align: center;
    width: 100%;
  }

  .logo1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .header_link {
    font-size: 1em;
  }

  .footer {
    padding-top: 0;
  }

  .footer_item {
    padding: 0;
  }
}

/*Mobile layout*/
@media (max-width: 430px) {
  nav {
    flex-direction: column;
    padding: 0;
    gap: 0.5em;
  }

  .logo {
    display: none;
  }
  main {
    padding-top: 300px;
  }
}
