.cover_video {
  display: flex;
  padding: 1em;
  gap: 1em;
}

.pic {
  flex-grow: 3;
  width: 30vw;
  height: 50vh;
}

.vid {
  flex-grow: 1;
  width: 10vw;
}

/*Tablet layout*/
@media (max-width: 768px) {
  .vid {
    display: none;
  }
}

/*Mobile layout*/
@media (max-width: 430px) {
  .pic {
    width: 20vw;
    height: 30vh;
  }
}
