.footer {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: $primary-color;
  padding-top: 2em;
}

.footer_item {
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 0;
  padding: 1.5em;
}

.footer_link_text {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  color: $link-color;
}

.footer_link_text:hover {
  color: $link-hover-color;
}

.footer_picture {
  width: 30%;
  margin-bottom: 1em;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
