header {
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  background-color: lightskyblue;
  width: 60vw;
}

main {
  padding-top: 200px;
  width: 100vw;
  max-width: 1440px;
}

nav {
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: lightskyblue;
  width: 100%;
}

.nav_item {
  padding: 16px;
  flex-grow: 1;
}

.header_link {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  color: black;
}

.header_link:hover {
  color: darkblue;
}
